<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" (click)="enviarCategoria('mascotas')">PetBook</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="perro" class="nav-link" href="#" (click)="enviarCategoria('perro')">Perros</a>
          </li>
          <li class="nav-item">
            <a id="erizo" class="nav-link" href="#" (click)="enviarCategoria('erizo')">Erizos</a>
          </li>
          <li class="nav-item">
            <a id="caballo" class="nav-link" href="#" (click)="enviarCategoria('caballo')">Caballos</a>
          </li>
          <li class="nav-item">
            <a id="gato" class="nav-link" href="#" (click)="enviarCategoria('gato')">Gatos</a>
          </li>
        </ul>
      </div>
    </div>
</nav>